body{
    background: #eee;
    margin: 0;
    font-family: sans-serif;
}

.widget {
	padding:25px;
	margin:0 0 25px;
	background: #85bfc4; ;
	border-bottom: 2px solid #fff;
    transition: all 0.5s ease;
    width: 90%;
    height: 200px;
    margin-left: 40px;
}

 
.widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#3498db;
	font-size: 18px;
	font-weight:800;
    text-transform: uppercase;
}
 
.widget p {
	font-size: 15px;
}
 
.widget p:last-child {
	margin:0;
}

input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}

.tombol{
    background: rgb(60, 148, 219);
    padding: 30px 10px;
    color: white;
    margin: 20px;
}

.tombol kirim{
    padding: 14px 20px;
    background-color: orangered;
}

@media screen and (max-width: 960px) {
    .widget{
        padding: 5%;
    }

    .tombol{
        padding: 5%;
    }
}